{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "singleAttributePerLine": true,
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    }
  ]
}
