@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
    --brand-primary: #c1292e;
    --brand-secondary: #e2e1e1;
    --brand-background: #ffffff;
    --brand-active: #c1292e;
    --brand-header-background: #e2e1e1;
    --primary-red: #c1292e;
    --red-hover: #c1292e;
    --primary-white: #ffffff;
    --brand-border-primary: rgba(193, 41, 46, 0.8);
    --brand-border-secondary: #e2e1e1;
    --white-hover: #f2f2f2;
    --brand-text-primary: #ffffff;
    --brand-text-secondary: #1a0d0d;
    --brand-text-accent: #606163;
    --brand-primary-hover: #b2262a;  /* hover */
    --brand-primary-active: #a42327; /* active */
    --brand-primary-active-hover: #a42327; /* active hover */
    --brand-primary-accent: rgba(193, 41, 46, 0.8)
    ;
  }
}

@layer components {

  .table-container {
    @apply border rounded-lg mt-5 shadow overflow-x-auto;
  }
  .table-filter {
    @apply flex flex-col lg:flex-row gap-5 rounded-lg p-3 shadow overflow-x-auto border;
  }
  .sidebar {
    @apply fixed h-full w-72 p-5 flex flex-col transform -translate-x-72 bg-white lg:translate-x-0 transition-transform shadow-[8px_0_16px_-12px_rgba(0,0,0,0.20)];
  }
  .sidebar.show {
    @apply translate-x-0 !important;
  }
}
